:root {
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #0e1465;
    --primary-color: #47df70;
    --secondary-color: #ff7235;
    --primary-shadow: #549b9b;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

.html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav h1 {
    display: block;
    font-size: 2em;
    color: azure;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 130%;
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(155, 39, 39, 0.1);
}

.hero {
    background-image: url(..https://lh3.googleusercontent.com/k-947W2pvIWfq2x8CLMrA4rp4pbK2CHBYSJkbmx2izmJMeEgiweZAskPw6T3iBa5FHSKLbtfkTMb3rWXJc945xprIL0S9guXQvQK0nuRGL7KTy3m4RgWKYaWiScdtNSzKRTA7sC4bdN---Y5iWn-wW-XSDSKN8vlL19XtgsHCbpmeKP-rAZP-_5fGc2T3Q0Xmg7oSamZWZNiskwnsTNWD9JvPe7gmMWWSWlJ87Ew-v3iAtA5j0VOqLc2eyuEGjz11A8h63Osr6iS6_yHZDifuaQSH28gdpGU4zxJau4646KIWGEdWB4d8bpPVqDhCOp1UAVrn4-XsAMLVMvsrvUOYboiqYwe0fkk2UuAHDg4c5lB_vcdTcUW-aP39AtbpCiBRiH0ywaTDrrZ-UfCGp9-RzjW-1FOoZm8kBTNrLNhQAN9zyBdMWAzATsiayRGUVeRO9YMnWxlPCco_Wt6Cgt7rnkiWBC4sMN_wCsYcK6c51NGAcByjRKFQdOsPTfn6bEO3GlMKZBDB1MCAE-qMlpOcRmhxQhefhTp-CHBaHLePZ-AiVG0PXL64CUsc9jgBLk_HjebiCmwcmC7Da3B4sAD9OacJUjGMr8OtT4wRkl6NeA8fTj62WgbQ3WGMAuDo9eGBs-v039vuxliwLX5Qz2_U3TriHeqvMWrMpPJyP52pehLeZWsMIeCrriyoI3MjAZX4sRKQYpMBpy8CIdID1Whwmfa2X4Po1YHVn4wNYgcAlp_spG41Pc62EePezyoTpoghzpE5SITUgpbluFzqIApExuYOV3HTqVFo0hdhADwMG-T2CcXEz_mwPC8VToxataSiDQ=w674-h902-no?authuser=0);
}