:root {
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #0e1465;
    --primary-color: #47df70;
    --secondary-color: #ff7235;
    --primary-shadow: #549b9b;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

.html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav h1 {
    display: block;
    font-size: 2em;
    color: azure;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 130%;
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(155, 39, 39, 0.1);
}

.hero {
    background-image: url("images/fondo8.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%, cover;
    height: 100vh;
    width: 100vw;

}

.content {
    position: absolute;
    top: 50%;
    left: 8%;


}

h1 {
    color: azure;
    font-family: Verdana;
    font-size: xxx-large;
    color: #549b9b
}

h2 {
    color: azure;
    font-family: Verdana;
    font-size: medium;
    letter-spacing: 1px;
}

h3 {
    color: azure;
    font-family: 'Franklin Gothic Medium';
    font-size: small;
    letter-spacing: 1px;

}

h4 {
    color: azure;
    font-family: Verdana;
    font-size: small;


}