:root {
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #0e1465;
    --primary-color: #47df70;
    --secondary-color: #ff7235;
    --primary-shadow: #549b9b;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

.html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav h1 {
    display: block;
    font-size: 2em;
    color: azure;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 130%;
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(155, 39, 39, 0.1);
    width: 100vw;
    flex-direction: column;
}

.hero {
    background-image: url("images/fondo8.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%, cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;



}

.content {
    width: 620px;
    padding-top: 60px;
}

.myphoto {
    border-radius: 85%;
    display: block;
    height: 277px;
    width: 225px;
    margin-top: 150px;
}

h1 {
    color: azure;
    font-family: Verdana;
    font-size: xxx-large;
    color: #549b9b;
    padding: 20px;
    margin-bottom: var(--bottom-margin);
}

h2 {
    color: rgb(68, 137, 137);
    font-family: Verdana;
    font-size: larger;
    letter-spacing: 1px;
    margin-bottom: var(--bottom-margin);
}

h4 {
    color: azure;
    font-family: 'Franklin Gothic Medium';
    font-size: small;
    letter-spacing: 1px;

}

h3 {
    color: azure;
    font-family: Verdana;
    font-size: small;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;

    margin-bottom: var(--bottom-margin);
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;


}


.skill-header {
    margin-bottom: 1rem;
    color: #030524;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

#Teaching {
    max-width: 100%;
    margin: auto;
    text-align: justify;
    margin-top: 2.5rem;

    background-color: #050721;
    color: antiquewhite;


}


.projects-title {
    margin-bottom: 1rem;
    color: #eaebf1;
    display: flex;
    justify-content: space-evenly;
    margin-right: 3cm;

}

.teach1 {
    margin-bottom: 1rem;
    color: #eaebf1;
    display: flex;
    justify-content: space-evenly;
    margin-right: 3cm;
    margin-left: 3cm;
}


@media only screen and (max-width: 950px) {}


@media only screen and (max-width: 600px) {
    nav ul {
        flex-wrap: wrap;
    }


    .hero {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 60px 1rem;
    }

    .content {
        width: 100%;
        ;
    }

    .myphoto {
        margin-top: 30px;
    }
}